<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="box">

  <xacro:arg name="length" default="20" />
  <xacro:arg name="breadth" default="10" />
  <xacro:arg name="height" default="150" />

  <xacro:property name="l" value="$(arg length)" />
  <xacro:property name="b" value="$(arg breadth)" />
  <xacro:property name="h" value="$(arg height)" />

  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <joint name="world_fixed" type="fixed">
    <parent link="world"/>
    <child link="box_link"/>
    <origin xyz="0 0 0" rpy="0 0 ${-pi/4}"/>
  </joint>

  <link name="box_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
         <box size ="${l} ${b} ${h}"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="100.0"/>
      <inertia ixx="1"  ixy="0"  ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
         <box size ="${l} ${b} ${h}"/>
      </geometry>
    </collision>
    <self_collide>true</self_collide>
    <kinematic>0</kinematic>
  </link>

  <!--gazebo reference="cylinder_link">
     <dampingFactor>0.005</dampingFactor>
     <turnGravityOff>true</turnGravityOff>
     <static>true</static>
     <kp>10000</kp>
     <kd>1.0</kd>
     <mu1>0.1</mu1>
     <mu2>0.1</mu2>
     <minDepth>0.0001</minDepth>
  </gazebo-->
</robot>
