<?xml version="1.0"?>
<launch>
  <arg name="debug" default="0"/>

  <arg name="x" default="10"/>
  <arg name="y" default="10"/>
  <arg name="z" default="-25"/>
  <arg name="box_model_name" default="box"/>

  
     <param name="box_description"
          command="$(find xacro)/xacro '$(find uuv_custom_urdf)/urdf/box.urdf.xacro' --inorder
          debug:=$(arg debug))
          inertial_reference_frame:=world" />


    <!-- Run a python script to the send a service call to gazebo_ros to spawn the URDF object -->
    <node name="urdf_spawner_$(arg box_model_name)" pkg="uuv_descriptions" type="spawn_model"  
	  args="-urdf -param box_description -model $(arg box_model_name) -x $(arg x) -y $(arg y)  -z $(arg z)" respawn="false" output="screen" />

</launch>
