<?xml version="1.0"?>
<launch>
  <arg name="debug" default="0"/>

    <include file="$(find uuv_custom_urdf)/launch/cylinder_model.launch">
        <arg name="x" default="-50"/>
        <arg name="y" default="30"/>
        <arg name="z" default="-25"/>
        <arg name="radius" default="15"/>
        <arg name="height" default="150"/>
        <arg name="cylinder_model_name" default="cyl_6"/>
    </include>

   <include file="$(find uuv_custom_urdf)/launch/cylinder_model.launch">
        <arg name="x" default="50"/>
        <arg name="y" default="-30"/>
        <arg name="z" default="-25"/>
        <arg name="radius" default="2"/>
        <arg name="height" default="150"/>
        <arg name="cylinder_model_name" default="cyl_1"/>
    </include>

</launch>
